<p class="intro">Hello and welcome to my personal website. I am here to show some of my skills in a website I built myself. I am showcasing a few projects with more on the way. If you have any questions please feel free to contact me.</p>
